@font-face {
  font-family: LibreBaskerville;
  src: url(./fonts/LibreBaskerville-Bold.ttf);
}

#root{
  user-select: none;
}


.App {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: auto auto repeat(3, 1fr);
  height: 100vh;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-row: 1/2;
  grid-column: 1/-1;
  box-shadow: 0px 3px 10px gray;
  z-index: 100;
  padding-bottom: 1rem;
}


#logo {
  font-family: LibreBaskerville;
  font-size: 3rem;
  cursor: pointer;
}

#choose-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2/3;
  grid-column: 5/7;
  margin-top: 2rem;
  margin-bottom: 2rem;
  z-index: 10;
  user-select: none;
}

#choose-mode > .wrapper {
  display: flex;
  background-color: rgb(253, 234, 241);
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid white;
  gap: .5rem;
}

.swap-mode.active {
  background-color: rgb(253, 234, 241);
  border: 1px solid palevioletred;
  
}

.liq-mode.active {
  background-color: rgb(253, 234, 241);
  border: 1px solid palevioletred;
}

.swap-mode {
  text-align: center;
  background-color: rgb(247, 248, 250);
  border-radius: 20px;
  padding: 0.3rem;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;
}

.liq-mode {
  text-align: center;
  background-color: rgb(247, 248, 250);
  border-radius: 20px;
  padding: 0.3rem;
  cursor: pointer;
  border: 1px solid transparent;
}

#swap-card {
  display: flex;
  flex-direction: column;
}

#switch-arrow {
  position: relative;
  left: 50%;
  left: calc(50% - 16px);
  height: 32px;
  width: 32px;
  margin-top: -14px;
  margin-bottom: -14px;
  padding: 4px;
  border-radius: 12px;
  border: 4px solid rgb(255, 255, 255);
  background-color: rgb(247, 248, 250);
  z-index: 10;
  cursor: pointer;
}

#swap {
  width: 100%;
  padding: 16px;
  border-radius: 20px;
  background-color: rgb(253, 234, 241);
  color: #d50066;
  border: 1px solid transparent;
  cursor: pointer;
}

#swap-disabled {
  width: 100%;
  padding: 16px;
  border-radius: 20px;
  background-color: rgb(184, 184, 184);
  color: rgb(247, 247, 247);
  border: 1px solid transparent;
  cursor: pointer;
}

#connect-wallet {
  width: 100%;
  padding: 16px;
  border-radius: 20px;
  background-color: rgb(253, 234, 241);
  color: rgb(213, 0, 102);
  border: 1px solid transparent;
  cursor: pointer;
}
#connect-no-wallet{
  --rk-blurs-modalOverlay: blur(0px);
  --rk-fonts-body: SFRounded, ui-rounded, "SF Pro Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --rk-radii-actionButton: 9999px;
  --rk-radii-connectButton: 12px;
  --rk-radii-menuButton: 12px;
  --rk-radii-modal: 24px;
  --rk-radii-modalMobile: 28px;
  --rk-colors-accentColor: #0E76FD;
  --rk-colors-accentColorForeground: #FFF;
  --rk-colors-actionButtonBorder: rgba(0, 0, 0, 0.04);
  --rk-colors-actionButtonBorderMobile: rgba(0, 0, 0, 0.06);
  --rk-colors-actionButtonSecondaryBackground: rgba(0, 0, 0, 0.06);
  --rk-colors-closeButton: rgba(60, 66, 66, 0.8);
  --rk-colors-closeButtonBackground: rgba(0, 0, 0, 0.06);
  --rk-colors-connectButtonBackground: #FFF;
  --rk-colors-connectButtonBackgroundError: #FF494A;
  --rk-colors-connectButtonInnerBackground: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.06));
  --rk-colors-connectButtonText: #25292E;
  --rk-colors-connectButtonTextError: #FFF;
  --rk-colors-connectionIndicator: #30E000;
  --rk-colors-downloadBottomCardBackground: linear-gradient(126deg, rgba(255, 255, 255, 0) 9.49%, rgba(171, 171, 171, 0.04) 71.04%), #FFFFFF;
  --rk-colors-downloadTopCardBackground: linear-gradient(126deg, rgba(171, 171, 171, 0.2) 9.49%, rgba(255, 255, 255, 0) 71.04%), #FFFFFF;
  --rk-colors-error: #FF494A;
  --rk-colors-generalBorder: rgba(0, 0, 0, 0.06);
  --rk-colors-generalBorderDim: rgba(0, 0, 0, 0.03);
  --rk-colors-menuItemBackground: rgba(60, 66, 66, 0.1);
  --rk-colors-modalBackdrop: rgba(0, 0, 0, 0.3);
  --rk-colors-modalBackground: #FFF;
  --rk-colors-modalBorder: transparent;
  --rk-colors-modalText: #25292E;
  --rk-colors-modalTextDim: rgba(60, 66, 66, 0.3);
  --rk-colors-modalTextSecondary: rgba(60, 66, 66, 0.6);
  --rk-colors-profileAction: #FFF;
  --rk-colors-profileActionHover: rgba(255, 255, 255, 0.5);
  --rk-colors-profileForeground: rgba(60, 66, 66, 0.06);
  --rk-colors-selectedOptionBorder: rgba(60, 66, 66, 0.1);
  --rk-colors-standby: #FFD641;
  --rk-shadows-connectButton: 0px 4px 12px rgba(0, 0, 0, 0.1);
  --rk-shadows-dialog: 0px 8px 32px rgba(0, 0, 0, 0.32);
  --rk-shadows-profileDetailsAction: 0px 2px 6px rgba(37, 41, 46, 0.04);
  --rk-shadows-selectedOption: 0px 2px 6px rgba(0, 0, 0, 0.24);
  --rk-shadows-selectedWallet: 0px 2px 6px rgba(0, 0, 0, 0.12);
  --rk-shadows-walletLogo: 0px 2px 16px rgba(0, 0, 0, 0.16);
  border: 0;
  display:flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 100%;
  line-height: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  text-align: left;
  border-radius: var(--rk-radii-connectButton);
  font-family: var(--rk-fonts-body);
  font-weight: 700;
  height: 40px;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
  transition: 0.125s ease;
  background: var(--rk-colors-accentColor);
  box-shadow: var(--rk-shadows-connectButton);
  color: var(--rk-colors-accentColorForeground);
  --_12cbo8i0: 1.025;
  --_12cbo8i1: 0.95;

}

#wrong-chain {
  width: 100%;
  padding: 16px;
  border-radius: 20px;
  background-color: rgb(253, 234, 241);
  color: rgb(213, 0, 102);
  border: 1px solid transparent;
  cursor: pointer;
}

#swap:hover {
  border: palevioletred 1px solid;
}

#main {
  max-width: 480px;
  justify-self: center;
  width: 100%;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
    rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  grid-row: 3/4;
  grid-column: 5/7;
}

#main-bg {
  background-color: #f7f8fa;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #fc077d10 0,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-row: 2/-1;
  grid-column: 1/-1;
  z-index: -1;
}

#swap-card>.head {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 1.25rem 0.5rem;
}

.body {
  display: grid;
  grid-gap: 6px;
  padding: 8px;
}

.body-add {
  display: grid;
  grid-gap: 6px;
  padding: 8px;
}

.body-remove {
  display: grid;
  grid-gap: 6px;
  padding: 8px;
}

.css-b62m3t-container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  height: 2.4rem;
  padding: 0px 8px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
}

.balance {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 5px;
  bottom: 0;
  margin-right: 15px;
  cursor: pointer;
  height: 16px;
  font-size: 13px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.balance:hover{
  background-color: #fff;
  border-radius: 20px;
}

.select-field {
  position: relative;
  display: flex;
  padding: 1.5rem 1rem 1.5rem;
  border-radius: 20px;
  border: 1px solid rgb(237, 238, 242);
  background-color: rgb(247, 248, 250);
}

.bottom-select-field{
  margin-bottom: 16px;
}

.amount-input {
  flex: 1;
  text-align: right;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  background-color: #0000;
}
input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  background-color: #0000;
}
body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

#react-select-3-input {
  cursor: pointer;
}

#react-select-5-input {
  cursor: pointer;
}

.head-button {
  cursor: pointer;
}

.modal-backdrop {
  background-color: rgba(73, 73, 73, 0.39);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  position: absolute;
  top: 15rem;
  z-index: 999;
  grid-gap: 16px;
  padding: 16px;
  border-radius: 12px;
  background-color: rgb(237, 238, 242);
  border: 1px solid rgb(206, 208, 217);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
    rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  z-index: 20;
}

.modal-content > h4 {
  margin-bottom: 0.5rem;
}

.alert-slippage {
  width: 231px;
  color: palevioletred;
}

.alert-deadline {
  width: 231px;
  color: palevioletred;
}

#close-modal-button {
  background-color: rgb(253, 234, 241);
  border-radius: 20px;
  border: 1px solid palevioletred;
}

.settingField {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 1rem;
}

.settingField > input {
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
  font-family: sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.max-balance{
  color: gray;
  margin-right: 5px;
}

#min-val{
  display: flex;
  justify-content: end;
  color: gray;
  margin-right: 5px;
  font-size: 13px;
}

a{
  color: inherit;
  text-decoration: inherit;
}

#from{
    position: absolute;
    z-index: 10;
    left: 0;
    top: 5px;
    height: 16px;
    font-size: 13px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none ;
    margin-left: 10px;
}

#to{
  position: absolute;
  z-index: 10;
  left: 0;
  top: 5px;
  height: 16px;
  font-size: 13px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none ;
  margin-left: 10px;
}

#select-fields-liq{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#liq-card{
  display: flex;
  flex-direction: column;
}

#liq-card>.head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 5px 0;
  height: 52px;

}


#choose-liq-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  grid-row: 2/3;
  grid-column: 5/7;
  z-index: 10;
  user-select: none;
}

#choose-liq-mode > .wrapper {
  display: flex;
  background-color: rgb(253, 234, 241);
  border-radius: 20px;
  border: 1px solid #f7f8fa;
  background-color: #fff;
  gap: .3rem;
}

.add-mode.active {
  background-color: rgb(253, 234, 241);
  border: 1px solid palevioletred;
  
}

.remove-mode.active {
  background-color: rgb(253, 234, 241);
  border: 1px solid palevioletred;
}

.add-mode {
  text-align: center;
  background-color: rgb(247, 248, 250);
  border-radius: 20px;
  padding: 0.3rem;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;
}

.remove-mode {
  text-align: center;
  background-color: rgb(247, 248, 250);
  border-radius: 20px;
  padding: 0.3rem;
  cursor: pointer;
  border: 1px solid transparent;
}

.liq-input {
  flex: 1;
  text-align: right;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 1rem 1rem 1rem;
  border-radius: 20px;
  border: 1px solid rgb(237, 238, 242);
  background-color: rgb(247, 248, 250);
}

.lp-balance {
  z-index: 10;
  right: 0;
  top: 5px;
  bottom: 0;
  margin-right: 15px;
  cursor: pointer;
  height: 16px;
  font-size: 13px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.balance:hover{
  background-color: #fff;
  border-radius: 20px;
}

#react-select-83-input{
  cursor: pointer;
}

#react-select-85-input{
  cursor: pointer;
}


#triangle > polygon{
  stroke-width: 3;
}

.install-wallet{
  display: flex;
  justify-content: center;
  align-items: center;
    width: 100%;
    padding: 16px;
    border-radius: 20px;
    background-color: rgb(253, 234, 241);
    color: #d50066;
    border: 1px solid transparent;
    user-select: none;
}

.nav-menu{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
  flex: 1;
  justify-content: center;
}

.nav-item{
  display: flex;
  border: 1px solid transparent;
  padding: 10px;
}

.nav-item.active{
  background-color: rgb(253, 234, 241);
  border: 1px solid palevioletred;
  border-radius: 20px;
}

#navbar>.left{
  flex: 1;
  text-align: center;
}

#navbar>.right{
  display: flex;
  flex: 1;
  justify-content: center;
}